body{
	background-color: #333;
	font-family: $base-FontFamily;
	header{
		background-color: #fff;
		#logo {
			margin: 0;
			float: left;
			display: block;
			a{
			    font-size: 4rem;
			    width: 77px;
			    height: 50px;
			    display: block;
			    text-indent: 200px;
			    overflow: hidden;
			    position: relative;
			    color: #000;
			}
		  	a:before{
				content: "\f142";
			    text-indent: 0px;
			    font-family: $ibm-FontFamily;
			    top: -1px;
			    left: 0px;
			    position: absolute;
			    height: 54px;
			}
		}
		aside{
			float: right;
			height: 50px;
			line-height: 50px;
			color: #000;
			font-family: $base-FontFamily;
		}
	}
	footer{
		position:absolute;
		bottom: 0;
		left:0;
		width: 100%;

		a{
			display: block;
			text-align: center;
			width:100%;
			float: left;
		}
	}
	input.error{
		border: 1px solid red!important;
	}
}